In [1]:
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D


def rossler_attractor(x, y, z, a=0.1, b=0.1, c=14):
	x_dot = - y - z
	y_dot = x + a*y
	z_dot = b + z*(x - c)

	return x_dot, y_dot, z_dot

In [2]:
def clifford_attractor(x, y, a=-1.4, b=1.6, c=1.0, d=0.7):
	x_n1 = np.sin(a*y) + c*np.cos(a*x)
	y_n1 = np.sin(b*x) + d*np.cos(b*y)

	return x_n1, y_n1

In [3]:

# basic parameters
steps = 1000000
a,b,c,d = -1.4,1.6,1.0,0.7

In [4]:

# initialize solutions arrays (+1 for initial conditions)
xx = np.empty((steps + 1))
yy = np.empty((steps + 1))

# fill in initial conditions
xx[0], yy[0] = (0.1, -0.1)

In [5]:

# solve equation system
for i in range(steps):
	# Calculate derivatives	
	x_dot, y_dot = clifford_attractor(xx[i], yy[i],a=a,b=b,c=c,d=d)
	xx[i + 1] = x_dot
	yy[i + 1] = y_dot

plt.figure(figsize=(5,5))
plt.plot(xx, yy,'.',color='white',alpha=0.2,markersize=0.2)

In [6]:
plt.axis('off')
plt.savefig('clifford.png', dpi = 300, pad_inches = 0, bbox_inches = 'tight',facecolor='black')
plt.close()

In [18]:
import pandas as pd
lookuptable=pd.DataFrame(zip(xx,yy),columns=["xx","yy"])

In [19]:
lookuptable.head()

         xx        yy
0  0.100000 -0.100000
1  1.129759  0.850377
2 -0.939431  1.118143
3 -0.747167 -1.149262
4  1.500279 -1.115765